@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
}



a:hover,
a:visited,
a:active {
  color: #f7c51e;
  text-decoration: none !important;
}

/* <!-- ===============
			CHI
    =============== --> */

/* ---------header-------- */

.header {
  background: #323232;
  height: 35px;
  color: #999999;
  font-size: 14px;
  line-height: 33px;
}
.notification {
  display: inline-block;
  position: relative;
}

.account {
  text-align: right;
}
.register {
  color: #f7c51e;
  margin-left: 28px;
}
.account-name {
  text-transform: capitalize;
}
.my-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
.my-toggle::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  color: #999999;
}
.my-toggle:focus {
  outline: none;
}
.notification-count {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #f7c51e;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  font-size: 11px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: -17px;
}
.toggle-group {
  vertical-align: 0;
}
.dropdown-account {
  margin: 0 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: #323232 !important;
  color: #999999;

  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  transform: none !important;
}
.dropdown-account a {
  color: #999999;
  padding-right: 36px;
  border-bottom: 2px solid #454545;
}
.dropdown-account a:last-child {
  border-bottom: none;
}
.dropdown-account a:hover {
  background: none;
  color: #f7c51e;
}
/* --------main header-------- */

.main-header {
  height: 150px;
  background-color: #454545;
  position: relative;
}
.logo-contact {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.menu ul {
  display: flex;
  list-style: none;
}
.logo-contact ul li {
  color: #666666;
  display: flex;
  align-items: center;
  border-right: 1px solid #666666;
  padding: 5px 30px;
}
.contact-main {
  margin-left: 13px;
}
.contact-main p {
  margin-bottom: 0;
  line-height: 24px;
  font-size: 14px;
}
.contact-main p:first-child {
  color: #dddddd;
  font-size: 14px;
}
.logo-contact ul li span {
  font-size: 50px;
}
.contact-social a {
  color: #f7c51e;
  font-size: 20px;
  margin-left: 17px;
}
.navigation {
  background: #f9f9f9;
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navigation ul li {
  padding: 30px 0;
  pointer-events: none;
  border-top: 3px solid #f9f9f9;
}
.navigation ul li a {
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #dddddd;
  pointer-events: auto;
  padding: 0 25px;
}
.navigation ul li:last-child a {
  border-right: none;
}
.navigation ul li a:hover {
  color: #313131;
  transition: 0.4s;
}
.navigation ul li:hover {
  border-top-color: #f7c51e;
  box-sizing: border-box;
}
.nav-dropdown a {
  border: none;
  background: none;
}
.nav-dropdown a:active,
.nav-dropdown a:hover,
.nav-dropdown a:focus {
  background: none !important;
}
.nav-dropdown a::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  border-top-width: 0.4em;
  border-right-width: 0.4em;
  border-left-width: 0.4em;
}
.nav-dropdown-menu {
  top: 187% !important;
  border-radius: 0 !important;
  background: #f7c51e !important;
  border: none !important;
  padding: 0 !important;
  transform: none !important;
  z-index: 1000;
}
.navigation ul li .nav-dropdown-item {
  color: #333333;
  border-bottom: 1px solid #e6b61c;
  padding: 9px 20px 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.navigation ul li .nav-dropdown-item:hover {
  background: #e6b61c !important;
}
.navigation ul li .nav-dropdown-item:last-child {
  border-bottom: none;
}
.my-position {
  position: absolute;

  top: 0;

  left: 50%;

  transform: translateX(-50%);

  z-index: 11;
}

/* -----------main--------- */
#main {
  margin-top: 150px;
}

/* -----------slide---------- */
.banner {
  height: 537px;
}
.my-height {
  height: 537px !important;
  position: relative;
}

.my-control {
  background: none !important;
}
.my-control i {
  background-color: #565553;
  padding: 10px 15px;
  font-size: 25px;
  transform: translateX(-80px);
}
.my-control i.right {
  transform: translateX(55px);
}
.my-caption {
  font-family: "Montserrat", sans-serif;
  width: 492px;
  height: 280px;
  background: #565553d9;
  text-align: left !important;
  padding: 25px 19px;
  top: 25%;
  left: 9% !important ;
}
.my-caption .featured {
  font-size: 14px;
  color: #f7c51e;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
  position: relative;
}
.my-caption .featured::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #f7c51e;
  position: absolute;
  left: 0;
  bottom: 0;
}
.my-caption h2 {
  font-size: 34px;
  font-weight: bold;
  color: #eeeeee;
}
.my-caption p {
  font-size: 14px;
  color: #999999;
}
.my-caption button {
  font-size: 14px;
  font-weight: bold;
  color: #454545;
  padding: 13px 17px;
  margin-top: 15px;
}
/* -------------cta------------- */
.cta {
  color: #999999;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background: #eeeeee;
  padding: 15px 0;
  line-height: 40px;
}

.cta button {
  font-weight: bold;
  padding: 8px 15px;
}
.cta button:last-child {
  color: #999999;
  border: 1px solid #d3cece;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}

/* -------------news-------------- */

.news {
  padding: 50px 0;
}
.new-item-list {
  display: flex;
}
.new-item-list a img {
  margin-right: 30px;
}
.new-item-list .info-new h3 {
  line-height: 14px;
}
.new-item-list .info-new h3 a {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.new-item-list .info-new h3 a:hover {
  color: #000000;
}
.new-item-list .info-new p {
  font-size: 13px;
  color: #999999;
}
.new-item {
  display: block;
}
.new-item img {
  margin-bottom: 15px;
}
.new-item p {
  margin-top: 18px;
}
.new-item a.read-more {
  color: #0096dc;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.new-item {
}

<<<<<<< 1-news/assets/css/style.css
/* ------------------------------------------------------------------------------------------------------------------------- */
/* phan bao  */
/* who  we are*/
.gachngang {
  position: relative;
}
.gachngang::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #f7c51e;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header2 img {
  float: left;
  margin-right: 10px;
}
/* het who we are */

/*  testimonials */
.comment_cha {
  display: flex;
  justify-content: space-between;
}
.comment_con {
  background-image: url("../images/comment.png");
  width: 535px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* het testimonials */

/* our promise */

.hinhnen {
  background-image: url("../images/background.png");
  background-size: 100%;
}
.hinhdemo {
  display: flex;
  justify-content: space-between;
}
/* het oupromise */

/* about us */
.fontsize a {
  font-size: 30px;
}
.canchinhlist {
  list-style: none;
}
/*  */
.canhchinhicon {
  position: relative;
}
.canhchinhicon input {
  margin-left: -20px;
  padding-left: 35px;
}
.canhchinhicon i {
  position: absolute;
  left: -10px;
  top: 22px;
}
/* het about us */
.canchinhlist2 {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}


/* ------------projects-------- */

.projects{
    background-color: #454545;
}  
 
.projects .my-tab{
    border-bottom: none;
    margin-bottom: 50px;    
}

.projects .my-tab  img{
    height: 192px!important;
    width: 271px;
}
.owl-item{
    height: 192px;
}
.owl-item .item{
    height: 100%;
}
.owl-item .item a{
    height: 100%;
}
.owl-nav{
    position: relative;
}
.owl-nav .owl-prev{
    transform: translate(-90px,-115px);
}
.owl-nav .owl-next{
    transform: translate(1106px,-115px);
}
.owl-item .item a img{
    height: 100%!important;
}
.my-tab li a {
    padding: 20px;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    color: #999999;
    background-color: #303030;
    
}
.my-tab li a:hover{
    border: none;
    
}
.my-tab li a.active.nav-link{
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f7c51e;
    
    
}
